<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="index.ejs" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                </li>
            
                <li>
                    <a href="imageslide.ejs" ><i class="fa fa-picture-o nav_icon"></i>Image Slide</a>
                </li>
               
                <li>
                    <a href="#"><i class="fa fa-dot-circle-o nav_icon"></i>Tools<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="toolmanage.ejs">Tool Management</a>
                        </li>
                        <li>
                            <a href="categorymange.ejs">Category Management </a>
                        </li>
                        <li>
                            <a href="htoolmanage.ejs">Highlighted Tools Management</a>
                        </li>
                    </ul>
                 
                </li>
                <li>
                    <a href="submission.ejs" ><i class="glyphicon glyphicon-ok nav_icon"></i>Submission and Creators portal</a>
                </li>
                <li>
                    <a href="sidebar.ejs" ><i class="glyphicon glyphicon-indent-left nav_icon"></i>Side bar</a>
                </li>
                <li>
                    <a href="collection.ejs" ><i class="glyphicon glyphicon-bookmark nav_icon"></i>Collection</a>
                </li>
                <li>
                    <a href="usermanagement.ejs" ><i class="glyphicon glyphicon-user nav_icon"></i>User Management</a>
                </li>
                <li>
                    <a href="userfeedback.ejs" ><i class="glyphicon glyphicon-list-alt nav_icon"></i>User Feedback</a>
                </li>
               <li>
                    <a href="reports.ejs" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Analytics and Reports</a>
                </li>
            </ul>
         
        </nav>
    </div>
</div>