 


.grid{
    overflow-y: scroll;
    height: 100vh;
}

.grid::-webkit-scrollbar{
    display: none;
}
.gridbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    width: 100%;
    margin: auto;
     

}

.icon{
    position: relative;
    bottom: 50px;
    width: 98%;
    margin: auto;
}



@media screen and (max-width: 1000px) {
    .gridbox{
        
        grid-template-columns: repeat(2,1fr);
    
    
    }
  }
  
  @media screen and (max-width: 450px) {
    .gridbox{
        
        grid-template-columns: repeat(1,1fr);
         
    
    }
  
  }