/*  
  ml={open ? "160px" : "64.5px"} */



.openslide {
  margin-left: 165px;

}
.closeslide {
  margin-left: 64.5px;
 
}

.landingbox{
  margin: auto;
  margin-top: 50px;
  
}


@media screen and (max-width: 450px) {
  .openslide {
    margin-left: 0px;
  }
  .closeslide {
    margin-left: 0px;
  }

  .slide{
    display: none;
  }

  .landingbox{
    margin: auto;
    margin-top:0px;
    
  }
}
