.sidebar {
  position:fixed;
  left: 0;
 
 
  bottom: 0;
  box-sizing: border-box;
  border-right: 1px solid #E6E6E6 ;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scroll{
   height:100%;
   margin-top: 120px;
  
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.innerbox {
 
  height: 36px;
   
 
 
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
 line-height: 1;
 
  
}

.itext {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

@media screen and (max-width: 1000px) {
  .innerbox {
    gap: 5px;
    line-height: 1;
  }
}

@media screen and (max-width: 450px) {
  .sidebar {
    display: none;
  }
}
