 

.listbox {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap:"30px";
 
  margin: auto;
}

.modal{
  overflow-y:auto;
 
  width:80%;
 
  margin: auto;
  margin-top:70px;
}

.modal::-webkit-scrollbar{
  display: none;
}

.image {
  height: 146px;
  width: 100%;
}
.icon {
  position: relative;
  bottom: 37px;
  width: 100%;
  margin: auto;
}

.savebtn {
  width: 113.61px;
}

.dec {
  width:70%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.lhide {
  display: none;
}
@media (min-width: 1026px) {
 
}
@media (max-width: 1025px) {
 
}

@media screen and (max-width: 920px) {
}

@media screen and (max-width: 450px) {
  .shide {
    display: none;
  }

  .lhide {
    display: block;
  }

  .dec {
    width: 100%;
    margin-bottom: 15px;
  }
}
