.navbar{
  
    position:sticky;
    width: 100%;
    
    left:0;
    top:0;
     z-index: 100;
  

}
.searchhide{
  display: none;
}
.iconbtn {
  display: none;
}
.ltext {
  display: block;
}

.inputbox {
  display: none;
}
.linputbox {
  display: block;
}
 
.searchbar{
  width: 330px;
  left:10%;
  margin-top: 5px;

}
.searchbar::-webkit-scrollbar{
   display: none;
}

@media screen and (max-width: 1000px) {
  .ltext {
    display: none;
  }
  .iconbtn {
    display: block;
  }
  .inputbox {
    display: block;
  }
  .linputbox {
    display: none;
  }

  .searchbar{
  
    margin: auto;
    
  }
}

@media screen and (max-width: 450px) {
   
  .snav {
    display: none;
  }
  .inputbox {
    display: none;
  }
  .linputbox {
    display: none;
  }

  .searchhide{
    display: block;
   
  }

  .searchbar{
    width:80%;
 
    margin: auto;
    
  }
}
