*{
    font-family:'Segoe UI';
}

.toolbox{
   display: flex;
   gap:80px;
   margin-left: 60px;
   margin-right: 60px;
 
}
.list{
    width:600px
}

.leftscroll{
   gap:50px
  

}
 
.tscroll::-webkit-scrollbar{
    display: none
};

.imagescroll{
    
}
 
.imagescroll::-webkit-scrollbar{
    display: none
};
 
.tnav{
    display: flex;
}

.rtool{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px
}

.tnav{
    max-width: 100%;
}

.sbag{
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-snap-type:x-mandatory ;
   
   
  }
  
  .sbag::-webkit-scrollbar {
    display: none;
  }
 
  .rating{
    display: flex;
    justify-content:space-between;
  }
  @media screen and (max-width: 1025px) {
    
   
    .toolbox{
       display: flex;
       gap:20px;
       margin-left: 40px;
       margin-right: 0px;
     
    }
    .list{
       width:400px
   }
   .tnav{
    max-width: 400px;
}
}

  @media screen and (max-width: 900px) {
    
   
    .toolbox{
       display: flex;
       gap:60px;
       margin-left: 50px;
       margin-right: 50px;
     
    }
    .list{
       width:400px
   }
   .tnav{
    max-width: 400px;
}
}
 
 

@media screen and (max-width: 550px) {
    
    .leftscroll{
        gap:0px
       
     
     }
     .right{
      
      margin-top: 20px;
     }
     .tnav{
        width: 300px;
    }
    
    .left{
        justify-content: center;
      
        align-items: center;
        text-align: center;
    }
   
    .rtool{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .riviewfilter{
       flex-direction: column;
       gap:25px;
         
         
      }

      .rating>Button{
         margin-top: 20px;
         
      }

      .rating>div{
        margin-top: 10px;
        
     }

     .toolbox{
        flex-direction: column;
        width: 90%;
        margin: auto;
      
       
     }
     .list{
        width:320px
    }

}
