.main_terms {
  height: auto;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(21, 24, 28);
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  margin-block-end: auto;
}
.terms_artical {
  margin-top: 60px;
  height: auto;
  width: 90%;
}
h3 {
  text-align: start;
  color: whitesmoke;
  font-weight: 400;
  font-size: x-large;
}
.intro {
  text-align: start;
  color: whitesmoke;
  font-weight: 500;
  width: 96%;
  margin: auto;
  margin-bottom: 5px;
}
.notes {
  width: 96%;
  margin: auto;
  font-weight: 200;
  font-size: 14px;
  text-align: left;
  word-break: normal;
}
.end {
  height: 60px;
}
